/* 各カラーテーマの色を設定。
アイコン画像の色も、#1c1c1c(28,28,28) や #ebebeb(235,235,235)とする */

/* ライトモード(通常)用の色を設定 */
:root {
  --main-text: #111111;
  --main-bg: #f3f5f7;
  --active-color: #bcbcbc;
}

/* ダークモード用の色を設定 */
:root[theme="dark"] {
  --main-text: #eaeaea;
  --main-bg: #1c1c1c;
  --active-color: #4c4c4c;
}

.icon_svg{
  fill: var(--main-text);
  stroke: var(--main-text);
  
}

body {
  padding: 2em;
  padding-top: 1em;
  color: var(--main-text);
  background-color: var(--main-bg);

  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
    
    max-width: 1000px;
    margin: 0 auto;
}

/* 表 */
table{
  border: var(--main-text) solid 2px;
  border-collapse: collapse; 
}

td{
  padding:1rem;
}


/* ヘッダーは上に固定 */
header{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:3.5em;
  text-align: right;
  background-color: var(--main-bg);
  
  display: flex;
  justify-content: center;
  z-index: 1; /* 一番前に表示 */
}


/* タブ変更ボタンについて */
/* 画面上部のタブ変更ボタン類をまとめるdiv */
.buttons{
  display: flex;
  justify-content: flex-end;
  flex: 2;
  max-width: 800px;
}


/* それぞれのタブ変更ボタン */
.tab_button{
  /* ブラウザ間のbuttonデザイン相違をなくすために、まず念のためリセットをかける*/
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
  
  height:3.3rem;
  width:3rem;
  margin:0.5rem;
  padding: 0.5em;

  border: var(--main-bg) solid 2px; /* かこみ線が見えないようなカラーリング */
  border-radius:5px;
  
  text-align: center;
  font-size: 0.5rem;
  font-weight: bold;
}


.tab_button:hover{
  background-color: var(--active-color);
}

.tab_button:focus{
  background-color: var(--active-color);
}

/* アイコン画像 */
.icon{
  margin: 0;
  height: 2rem;
  width:2rem;
}

/* 選択されたアイコンは、かこみの色を変える */
.selected{
  border: var(--main-text) solid 2px;
}


section{
  width:100%;
  margin-top: 3rem;
  margin-bottom: 5rem;
  display:none; /* デフォルトはすべて非表示 */
}

/* ↑ただし、pageセクションはデフォルトで表示しておく */
#page{
  display: inline-block;
}

/*一番最初の目次のページの各セクションについては、すべて表示させる*/
.index_section{
  display: block;
}



/* 段落やh要素などはアニメーションでふわっと表示させるようにする */
.page_passage_animation{
  animation: fadeIn 0.3s cubic-bezier(0.33,1,0.68,1) forwards;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
    transform: translateY(20px);
  }
  
  100%{
    opacity:1;
    transform: translateY(0px);
  }
}

.item_div{
  width:100%;
  text-align: center;
}
.item_p{
  text-align: center;
  margin:1rem;
  margin-top:3rem;
  font-size:120%;
}

.hidden_item{
  display: none;
}

.open_item{
  display: inline-block;
  width:95%;
  margin:2.5%;
}


/* ============================= */
/* アイテムを表示する表 */
.table_item{
  width: 100%;
  text-align: left;
}

/* アイテム名は太字、大きい文字で */
.item_name_td{
  font-weight: bold;
  font-size: 150%;
}

/* アイテム画像、表の高さは固定 */
.item_img{
  height:6rem;
}

.item_img_td{
  width:6rem;
}



/* ============================= */
/* 選択肢ボタンについて */
.selection_button{
  /* ブラウザ間のbuttonデザイン相違をなくすために、まず念のためリセットをかける*/
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
  
  width: 18rem;
  height: 3.8rem;
  margin: 0.6rem;
  
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: relative;
  
  border: var(--main-text) 2px solid;
  border-radius: 15px;
  
  text-align: center;
  
  animation: zoomIn 0.07s forwards; 
}

@keyframes zoomIn{
  0%{
    transform: scale(0.9);
    opacity: 0;
  }
  
  100%{
    transform: scale(1);
    opacity:1;
  }
}

.selection_button:hover{
  background-color: var(--active-color);
}

.selection_button:focus{
  background-color: var(--active-color);
}


/* 選択肢ボタンたちを中央ぞろえにする */
.buttons_centering{
  width: 100%;
  text-align: center;
}

/* 選択肢ボタンたちの中のアイコン */
.selection_icon{
  height:1.4rem;
  
  position: absolute;
  right:1rem;
}


/* 以下、ストーリーを記述するときの段落など */
p{
  line-height: 1.5em;
}

h1{
  font-size: 2em;
}

h2{
  font-size: 1.5em;
}

.italic_p{
  font-style: italic;
}


.setting_p{
  padding: 0.3rem;
}


.hidden_page{
  display: none;
}

.open_page{
  display: inline-block;
}


a:link {
  color: #60b0ff;
}

a:visited {
  color: #b060ff;
}


/* makespaceは現在機能していないようだ…見直し必要 */
/* ただの空白行を目指していたんだけど、うまく間があかない */
.makespace{
  height: 5rem;
}

